.cardRegister{
    background-color: #32383e;
}
.image{
    height: 477px;
}
.image img{
    object-fit: cover;
}
.logo{
    width: 100px;
}
.cardRegister button,
.cardRegister button:hover,
.cardRegister button:focus{
    background-color: #3a3f44;
    border-color: #22241d;
}
.cardRegister .info a{
    text-decoration: underline !important;
}
.cardRegister .info{
    border-bottom: 1px solid #6c757d;
}